<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="">

  <title> Chizz Burger & Food </title>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <link href="css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="css/style.css" rel="stylesheet" />
  <link href="css/responsive.css" rel="stylesheet" />

</head>

<body>

  <div class="hero_area">
    <div class="bg-box">
    <%= image_tag "hero-bg.jpg" %>
    </div>
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <%= link_to root_path, class:"navbar-brand" do %>
            <span>
              <%= image_tag "logo.png", style:"max-width: 60px" %>
            </span>
          <%end%>

          <a href="#" style=""><%= current_user.email if user_signed_in? %><br>
          </a>  

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto ">
              <li class="nav-item active">
                <%= link_to "Anasayfa", root_path, class:"nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to "Menü", products_path, class:"nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to "Hakkımızda", abouts_path, class:"nav-link"%>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Chizz Burger & Food</br>
                      <small>Fast Food Restaurant</small>
                    </h1>
                    <p>
                      Doloremque, itaque aperiam facilis rerum, commodi, temporibus sapiente ad mollitia laborum quam quisquam esse error unde. Tempora ex doloremque, labore, sunt repellat dolore, iste magni quos nihil ducimus libero ipsam.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>

    </section>
  </div>

  <section class="offer_section layout_padding-bottom">
    <div class="offer_container">
      <div class="container ">
        <div class="row">
          <div class="col-md-6  ">
            <div class="box ">
              <div class="img-box">
                <%= image_tag "o1.jpg" %>
              </div>
              <div class="detail-box">
                <h5>
                  Lezzetli Pazartesi
                </h5>
                <h6>
                  <span>%20</span> İndirim
                </h6>
              </div>
            </div>
          </div>
          <div class="col-md-6  ">
            <div class="box ">
              <div class="img-box">
                <%= image_tag "o2.jpg" %>
              </div>
              <div class="detail-box">
                <h5>
                  Büyük Boy'da Büyük İndirim
                </h5>
                <h6>
                  <span> %15</span> İndirim
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <%= image_tag "about-img.png" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Biz <span style="font-size: 60px">Chizz Burger</span>'iz !!
              </h2>
            </div>
            <p>
              Chizz Burger hazır burgerlerin 2022 yılında Elazığ'da iki arkadaş şirketi 
              olarak kuruldu. Handmade Burger sektöründe kalıcı olmak amacıyla kendine ait
              tarza ve lezzete sahip olan Chizz Burger & Food müşterilerine en iyi deneyimi
              sunmayı amaçlıyor.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              İletişim
            </h4>
            <div class="contact_link_box">
              <a href="https://goo.gl/maps/ZAu4peM8dqsEzmoWA">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Ataşehir, İmam Efendi Blv. no: 38/B, 23100 Merkez/Elazığ
                </span>
              </a>
              <a href="tel:+904442473253">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  0(444) 247 32 53
                </span>
              </a>
              <a href="mailto:chizzburger22@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  chizzburger22@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              <%= image_tag "logo.png", style:"max-width: 60px;"%>
            </a>
            <p>
              Burgerin en ateşli hali. Footer alt bilgi açıklama metin kutusu
            </p>
            <div class="footer_social">
              <a href="" style="color: black">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="">
                <i class="fa-brands fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="instagr.am/chizz_burger_food_23">
                <i class="fa-brands fa-instagram" aria-hidden="true"></i>
              </a>
              <%= link_to root_path do%>
                <i class="fa-brands fa-pinterest" aria-hidden="true"></i>
              <%end%>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Çalışma Saatlerimiz
          </h4>
          <p>
            Haftanın her günü
          </p>
          <p>
            12.00 - 00.00
          </p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          Chizz Burger & Food &copy; <span id="displayYear"></span> Tüm Hakları Saklıdır.<br>
          Uygulama Tasarım | <a href="https://instagr.am/ufakbeg">iOTA.</a>
        </p>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0-beta1/js/bootstrap.min.js" integrity="sha512-Hqe3s+yLpqaBbXM6VA0cnj/T56ii5YjNrMT9v+us11Q81L0wzUG0jEMNECtugqNu2Uq5MSttCg0p4KK0kCPVaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>

</body>

</html>
      
